<!DOCTYPE html>
<html lang="en">
    <head>
        <title>new proj</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <h2> {{>header}} </h2>
        
        <h2> {{title}} in hbs page</h2>
        <h4>{{desc}}</h4>

        <img src={{img1}} alt="">


        <h2> {{>footer}} </h2>

        
    </body>


</html>
