
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>new proj</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>



        <div class="footer1">

            <h2 class="hedt2"> This was the: {{title}} page </h2>
            

        </div>



        
    </body>


</html>
