
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>new proj</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>


        {{!-- law katabna ba3d akwas el title 7aga m4 htban l sabb --}}
        {{!-- w law 3mlna refresh lel terminal hy4ta8al 3ade --}}
        {{!-- han3ml download l 7aga tt3dl automatic zy ma byt3adel f ba2e el pages 3ade --}}
        {{!-- nodemon src/app.js -e js,hbs  ==> ya3ne tab2 el klam da 3la ay 7aga el extension bta3ha js aw hbs--}}
        <h2 class="hedt1"> {{title}}</h2> 


{{!-- kol a hat target page mo3yna --}}
        


        <div class="header1">

            <a href="/"> HOME </a>

            <a href="/service"> SERVICE</a> 

        </div>



        
    </body>


</html>
